<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AjaxHandlerTypeDescriptionDllName" value="WebApplicationConsole"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="*.aspx" validate="false" type="HiLand.Utility.Handler.Ajax.AjaxHandler,HiLand.Utility" verb="*"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="AjaxRequestFactory" path="*.aspx" type="HiLand.Utility.Handler.Ajax.AjaxHandler,HiLand.Utility" verb="*"/>
    </handlers>
  </system.webServer>
</configuration>
