<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<section name="SalaryTaxSection" type="HiLand.Utility.Setting.SectionHandler.SalaryTaxSectionHandler,HiLand.Utility"/>
	</configSections>
	<appSettings>
		<!--如果以下2行被屏蔽的话，那么系统将走默认的mssql数据访问逻辑-->
		<!--<add key="HiGeneralDALNameSpace" value="WebResourceCollection.Test"/>
    <add key="HiGeneralDALDLLName" value="WebResourceCollection"/>-->
		<add key="isEMailMustUnique" value="true"/>
	</appSettings>

	<connectionStrings>
		<add name="ConnectionString" connectionString="server=.;database=GBFinance;uid=sa;pwd=123456;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<SalaryTaxSection taxThreshold="3500">
		<add name="Level0" min="-9999999999" max="0" rate="0" expressCalcValue="0" />
		<add name="Level1" min="0" max="1500" rate="0.03" expressCalcValue="0" />
		<add name="Level2" min="1500" max="4500" rate="0.1" expressCalcValue="105" />
		<add name="Level3" min="4500" max="9000" rate="0.2" expressCalcValue="555" />
		<add name="Level4" min="9000" max="35000" rate="0.25" expressCalcValue="1005" />
		<add name="Level5" min="35000" max="55000" rate="0.3" expressCalcValue="2755" />
		<add name="Level6" min="55000" max="80000" rate="0.35" expressCalcValue="5505" />
		<add name="Level7" min="80000" max="9999999999" rate="0.45" expressCalcValue="13505" />
	</SalaryTaxSection>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.net>
		<mailSettings>
			<!--<smtp deliveryMethod="Network" from="xieran@ymail.com">
        <network enableSsl="false"  host="smtp.mail.yahoo.com" port="25" userName="xieran@ymail.com" password="momo5012205" />
      </smtp>-->
			<smtp deliveryMethod="Network" from="notinmood@gmail.com">
				<network enableSsl="true" port="587" defaultCredentials="false" host="smtp.gmail.com" userName="notinmood@gmail.com" password="zoomsoft.xier" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.webServer>
		<directoryBrowse enabled="true" />
	</system.webServer>
</configuration>
