<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--如果以下2行被屏蔽的话，那么系统将走默认的mssql数据访问逻辑-->
    <!--<add key="HiGeneralDALNameSpace" value="WebResourceCollection.Test"/>
    <add key="HiGeneralDALDLLName" value="WebResourceCollection"/>-->
    <add key="isEMailMustUnique" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=.;database=GBFinance;uid=sa;pwd=123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.net>
    <mailSettings>
      <!--<smtp deliveryMethod="Network" from="xieran@ymail.com">
        <network enableSsl="false"  host="smtp.mail.yahoo.com" port="25" userName="xieran@ymail.com" password="momo5012205" />
      </smtp>-->
      <smtp deliveryMethod="Network" from="notinmood@gmail.com">
        <network enableSsl="true" port="587" defaultCredentials="false" host="smtp.gmail.com" userName="notinmood@gmail.com" password="zoomsoft.xier" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
