@using HiLand.Utility4.MVC.Controls

@{
    ViewBag.Title = "AutoCompleteTest";
    string dataUrl = Url.Action("AutocompleteData");
}
<link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.17.custom.csss")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.17.custom.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    function autoCompleteSelectedCallback(item)
    {
        alert(item.key);
    }
</script>
<h2>AutoCompleteTest</h2>
@Html.HiTextBox("myTextBox").DynamicLoadDataUrl(dataUrl).Render()