@using HiLand.Utility4.MVC;
@{
    ViewBag.Title = "MVCHelperTest";

    string actionValue= MVCHelper.GetCurrentActionName();
    string controllerValue = MVCHelper.GetCurrentControllerName();
    string areaValue = MVCHelper.GetCurrentAreaName();
    string namespaceValue = MVCHelper.GetCurrentNamespace();
}

<h2>MVCHelperTest</h2>

actionValue: @actionValue <br />
controllerValue:@controllerValue <br />
areaValue:@areaValue <br />
namespaceValue:@namespaceValue <br />