<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="sslSwitchPaths" type="HiLand.Utility.Setting.SectionHandler.SSLSwitchHandler,HiLand.Utility"></section>
		<section name="resourcePaths" type="System.Configuration.NameValueSectionHandler" />
		<sectionGroup name="permissionValidate">
			<section name="pathRoleValidate" type="HiLand.Utility.Setting.SectionHandler.PathRoleValidateSectionHandler,HiLand.Utility" />
			<section name="generalValidate" type="HiLand.Utility.Setting.SectionHandler.GeneralValidateSectionHandler,HiLand.Utility" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="pluginPath" value="bin" />
		<add key="pluginExtensions" value="*.application.dll;*.application.exe" />
		<add key="dalTypeName" value="SampleSQLDAL" />
		<add key="dalAssembleName" value="SampleSQLDAL" />
		<add key="userClassType" value="SampleBLL.UserBLLEntity,SampleBLL" />
	</appSettings>
	<connectionStrings>
		<add name="ConnectionString" connectionString="server=.;database=GBFinance;uid=sa;pwd=123456;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!--
    1.sslSwitchPaths中deployMode的几个值
    On 来自各个方向的请求使用SSL(缺省)
    RemoteOnly 来自于远程客户的请求使用SSL 网站部署到服务器上使用此属性
    LocalOnly 本地调试时使用
    Off SSL不可用
    2.sslSwitchPaths中ControlMode的几个值
    OnlyThus 仅本部分声明的部分使用ssl,其他部分不是用ssl
    AllowOther 允许其他部分使用ssl(亦可不使用)(缺省)
    -->
	<sslSwitchPaths ControlMode="AllowOther" DeployMode="On">
		<file value="~/SSLJumpTest.aspx"></file>
		<path value="~/MessageBoxDemo/"></path>
	</sslSwitchPaths>
	<resourcePaths>
		<add key="key1" value="~\Resources\resourceTest.xml"></add>
		<add key="key2" value="~\Resources\resourceTest2.xml"></add>
	</resourcePaths>
	<permissionValidate>
		<pathRoleValidate>
			<validate path="CheckDirAdmin">
				<role name="admin"></role>
				<role name="manager"></role>
			</validate>
			<validate path="CheckDirRole">
				<role name="admin"></role>
				<role name="otherRole"></role>
			</validate>
		</pathRoleValidate>

		<!--
    以下是一个通用的权限控制体系的配置文档演示
    1.一个项目内可以有多个应用（插件式体系尤其如此）；
    2.一个应用下可以有多个模块；
    3.一个模块内可以有多个子模块；
    4.权限控制的粒度为子模块；
    5.子模块内有（多个）页面和（多个）操作；
    -->
		<generalValidate>
			<application guid="541F8657-938D-48CF-B4B2-348C6065F723" name="应用DEMO1">
				<module guid="EDCA19F1-C471-4342-A9FB-52DD7F605A83" name="模块A">
					<subModule guid="97004E95-0219-46A6-8409-0264446CCCE8" name="子模块A1">
						<pages>
							<page name="演示页" file="~/GeneralValidateDemo/ModuleA/ModuleA1/DemoOnly.aspx"></page>
							<page name="缺省页" file="~/GeneralValidateDemo/ModuleA/ModuleA1/Default.aspx"></page>
						</pages>
						<actions>
							<action name="List" value="2"></action>
							<action name="Add" value="4"></action>
							<action name="Edit" value="8"></action>
						</actions>
					</subModule>
					<subModule guid="97004E95-0219-46A6-8409-0264446CCCE7" name="子模块B">
						<pages>
							<page name="演示页" file="~/GeneralValidateDemo/ModuleB/ModuleB1/Default2.aspx"></page>
						</pages>
						<actions>
							<action name="List" value="2"></action>
							<action name="Add" value="4"></action>
							<action name="Edit" value="8"></action>
						</actions>
					</subModule>
				</module>
			</application>
		</generalValidate>
	</permissionValidate>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<authentication mode="Forms">
			<forms loginUrl="~/MyLogin.aspx" timeout="2880" />
		</authentication>
		<authorization>
			<allow users="*" />
		</authorization>
		<httpModules>
			<!--<add name="pathRoleValidate" type="HiLand.Utility.Module.PathRoleLoginValidateModule,HiLand.Utility"/>-->
			<add name="generalValidate" type="HiLand.Framework.Permission.Module.GeneralLoginValidateModule,HiLand.Framework" />
			<add name="SSLSwitchModule" type="HiLand.Utility.Module.SSLSwitchModule,HiLand.Utility" />
		</httpModules>
		<httpHandlers>
			<add path="*.authcode" verb="*" type="HiLand.Utility.Handler.AuthCodeHandler,HiLand.Utility" />
		</httpHandlers>
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
