USE [HiLand]
GO
/****** Object:  Table [dbo].[CoreChinaArea]    Script Date: 08/30/2010 10:47:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoreChinaArea](
	[AreaCode] [nvarchar](20) NOT NULL,
	[AreaName] [nvarchar](20) NULL,
	[AreaLevel] [int] NULL,
	[TelephoneCode] [nvarchar](10) NULL,
	[ZipCode] [nvarchar](10) NULL,
	[CanUsable] [int] NULL,
	[IsDisplay] [int] NULL,
	[PropertyNames] [ntext] NULL,
	[PropertyValues] [ntext] NULL,
 CONSTRAINT [PK_CoreChinaArea] PRIMARY KEY CLUSTERED 
(
	[AreaCode] ASC
) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CoreChinaArea] ([AreaCode], [AreaName], [AreaLevel], [TelephoneCode], [ZipCode], [CanUsable], [IsDisplay], [PropertyNames], [PropertyValues]) VALUES (N'11', N'北京市', NULL, NULL, NULL, 1, 1, NULL, NULL)
INSERT [dbo].[CoreChinaArea] ([AreaCode], [AreaName], [AreaLevel], [TelephoneCode], [ZipCode], [CanUsable], [IsDisplay], [PropertyNames], [PropertyValues]) VALUES (N'1101', N'市辖区', NULL, NULL, NULL, 1, 0, NULL, NULL)
INSERT [dbo].[CoreChinaArea] ([AreaCode], [AreaName], [AreaLevel], [TelephoneCode], [ZipCode], [CanUsable], [IsDisplay], [PropertyNames], [PropertyValues]) VALUES (N'110101', N'东城区', NULL, NULL, NULL, 1, 1, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
/****** Object:  Default [DF_CoreChinaArea_CanUsable]    Script Date: 08/30/2010 10:47:52 ******/
ALTER TABLE [dbo].[CoreChinaArea] ADD  CONSTRAINT [DF_CoreChinaArea_CanUsable]  DEFAULT ((1)) FOR [CanUsable]
GO
/****** Object:  Default [DF_CoreChinaArea_IsDisplay]    Script Date: 08/30/2010 10:47:52 ******/
ALTER TABLE [dbo].[CoreChinaArea] ADD  CONSTRAINT [DF_CoreChinaArea_IsDisplay]  DEFAULT ((1)) FOR [IsDisplay]
GO
